* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin: 0
}

span {
    display: inline-block;
}

button {
    border: none;
    background: red;
}