@use '../../scss/abstracts/variables.module.scss' as variables;
@use '../../scss/abstracts/mixins.module.scss' as mixins;

.container {
    background-color: variables.$white;
    border-radius: 4px;
    margin: 16px 0 32px;

    .card_image {
        width: 100%;
        border-radius: 4px;
        margin: 10px 0;
    }

    .description_title {
        font-size: 20px;
        margin: 24px 0;

        @include mixins.sm {
            font-size: 28px;
            margin: 32px 0 32px 32px;
        }
    }

    .description_content {
        font-size: 16px;
        margin: 24px 0;

        @include mixins.md {
            margin: 0 0 32px 32px;
        }
    }

    .right_container {

        .header_subtitle {
            font-size: 12px;
            margin: 8px 0;

            @include mixins.sm {
                font-size: 14px;
                margin: 16px 0 32px;
            }
        }

        .product_title {
            font-size: 16px;
            margin: 0;

            @include mixins.sm {
                font-size: 24px;
            }
        }

        .product_price {
            font-size: 32px;
            margin: 10px 0 4px;

            @include mixins.sm {
                font-size: 46px;
                margin: 32px 0;
            }
        }

        .product_buy_btn {
            margin: 0 32px 0 0;
        }
    }
}