// Colors
$yellow: #ffe600;
$gray-3: #333333;
$gray-6: #666666;
$gray-9: #999999;
$gray-e: #eeeeee;
$white: #ffffff;
$blue: #3483fa;

// Margin
$margin-0: 0;
$margin-5: 5;
$margin-14: 14px;
$margin-16: 16px;
$margin-24: 24px;
$margin-28: 28px;
$margin-32: 32px;
$margin-46: 46px;

// Font sizes
$size-14: 14px;
$size-18: 18px;